/* Resets Css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  text-decoration: none;
}
/* Declaração Cores */
:root {
  --container-color: #1a1e21;
  --second-color: #fd8f44;
  --text-color: #172317;
  --bg-color: #fff;
}
::selection {
  color: var(--bg-color);
  background: var(--second-color);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
section {
  padding: 3rem 0 2rem;
}

body {
  font-family: "Poppins", sans-serif;
}